{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Contact</h1>
            <p>
                Dr. Michael Hess <br>
                CEO/ Geschäftsführer <br>
                Battronics AG <br>
                Bucheggstrasse 50 <br>
                8037 Zürich
            </p>
            <p>
                Tel CH: +41  76 747 4625 <br>
                Tel DE: +49 173 611 3035 <br>
                e-mail: <a href="mailto:michael@battronics.com">michael@battronics.com</a> <br>
            </p>
            <p>
                <a href="https://www.battronics.com">www.battronics.com</a>
            </p>
        </div>



    </div>

</div>


{% endblock %}