{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
        <h1>Data Disclaimer</h1>
            <p>
                The data provided to ABD are made available either by importing open-source data repositories
                or provided voluntarily to us by government agencies, educational institutions, or commercial firms.
            </p>
            <p>
                Due to the nature of data transmission across the Internet and other communication methods, information
                accessible via these API services may not always be available or current.
                No warranties are expressed or implied regarding the accuracy, completeness, or reliability of the
                information contained herein.
            </p>
            <p>
                The user assumes the entire risk related to use of the data.
                The data are provided “as is” and the originating source for the data or ABD are not liable
                for any damages, including, without limitation, damages resulting from lost data or lost profits or
                revenue, the costs of recovering such data, the costs of substitute data, claims by third parties or
                for other similar costs, or any special, incidental, or consequential damages, arising out of the use
                of the data.  The accuracy or reliability of the data is not guaranteed or warranted in any way and the
                providers disclaim liability of any kind whatsoever, including, without limitation, liability for quality,
                performance, merchantability and fitness for a particular purpose arising out of the use, or inability to use the data.
            </p>
            <p>
                Authors of research publications that depend upon substantial use of data available via ABD
                should acknowledge the data providers by including a statement adhering to the requirement of the data provider.

            </p>
        </div>

    </div>
</div>

{% endblock %}