{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Imprint</h1>

        <div class="col-4">
            <p>
                Battronics AG <br>
                Adresse: Bucheggstrasse 50 <br>
                8037 Zurich <br>
                Schwitzerland <br>
            </p>
            <p>
            Commercial register: CHE-292.760.663
            </p>
            <h3>Contact</h3>
            Tel. CH: +41 76 747 4625 <br>
            Tel. DE: +49 173 611 3035

        </div>



    </div>

</div>


{% endblock %}